/* *{
    margin: 0;
    padding: 0;
} */
/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');

/* Shared Style start */
.inter{
    font-family: "Inter", sans-serif;
}
.font_miama{
    font-family: "Playwrite BE VLG", cursive;
}
/* Shared Style end */

/* nav design start */
.container{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
}
.header_items{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav_title{
    color: rgb(230,83,60);
    font-size: 30px;
    font-weight: 800;
}
.nav_items{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255, 0.1);
    border-radius: 39px;
    height: 40px;
    width: 380px;
    margin-top: 35px;
}
.nav_items p{
    color: rgb(255,255,255);
}
.nav_items a{
    text-decoration: none;
}
.home p{
    background-color: rgb(230,83,60);
    border-radius: 50px;
    padding: 10px 20px;
}   
/* nav design end */

/* Banner design start */
.banner_sec_img{
    background: linear-gradient(180.00deg, 
    rgb(17,17,17), 
    rgba(119,119,119,0) 100%);
}
.banner_section_main{
    max-width: 1200px;
    margin: 0 auto;
}
.banner_section{
    display: flex;
    justify-content: space-between;
}
.banner_title h1{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 900;
    line-height: 80px;
}
.banner_title p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 400;
}
.btn_primary{
    color: white;
    background-color: rgb(230,83,68);
    border: none;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-size: 16px;
    font-weight: 600;
}
.btn_secondary{
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-size: 16px;
    font-weight: 600;
}
.ball{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: -35px;
    margin-right: 13px;
}
.video_tutorial{
    display: flex;
    color: white;
    height: 90px;
    width: 100px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48,48,48,0.54);
    padding-left: 50px;
    margin-top: 370px;
}
.video_tutorial p{
    margin-top: -18px;
}
.workout{
    color: white;
    height: 90px;
    width: 8rem;
    padding: 0 10px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48,48,48,0.54);
    position: absolute;
    margin-top: -415px;
    margin-left: 250px;
  }
.workout h1{
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 40px;
    font-weight: 900;
}

/* change_habits_section design start */
.change_habits_section{
    max-width: 1200px;
    margin: 0 auto;
}
.change_habit_title h1{
    color: rgb(255,255,255);
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}
.change_habit_title p{
    color: rgb(255,255,255,0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: -20px;
}
.change_habits_img img{
    border-radius: 50%;
    margin: 50px;
}
.change_habits_img{
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 50px;
    margin-top: -30px;
}
.change_habits_img h1{
    margin-left: 8px;
    margin-top: -25px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.change_habits_img p{
    color: rgb(255,255,255,0.5);
    margin-left: 10px;
    text-align: center;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}

/* run_extra_mile_section design */

.run_extra_mile_section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 371px;
    border-radius: 18px;
    background: rgb(34,34,34);
    gap: 350px;
    background-size: cover;
    background-position: center;
}
.run_extra_mile_img img{
    width: 406px;
    height: 320px;
    border-radius: 18px;
    margin-top: 25px;
}
.run_extra_mile_title h1{
    color: rgb(255,255,255);
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 10px;
}
.run_extra_mile_title p{
    color: rgb(255,255,255,0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}
.run_extra_mile_title{
    margin-left: 50px;
    margin-top: 50px;
}

/* training_and_exercise_section design */

.training_and_exercise_section{
    max-width: 1200px;
    margin: 0 auto;
}
.training_experience h1{
    color: rgb(255,255,255);
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 15px;
}
.training_experience p{
    color: rgb(255,255,255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}
.training_experience_img .first_three{
    display: flex;
    width: 100%;
    height: 100%;
}
.training_experience_img .second_three{
    display: flex;
    width: 100%;
    height: 100%;
}
.first_img{
    width: 323px;
    height: 256px;
    background: linear-gradient(180.00deg, rgb(6,255,210,0.5),
    rgba(6,255,210,0.5)100%),url("../images/exercise1.jpg");;
    background-size: cover;
    background-position: center;
}
.first_img h4{
    margin-top: 190px;
    padding: 30px;
    font-family: inter;
}
.second_img{
    width: 639px;
    height: 256px;
    background: linear-gradient(180.00deg, rgb(255,0,0,0.3),rgba(255,0,0,0.3)100%),
    url("../images/exercise2.png");
    background-size: cover;
    background-position: center;
}
.second_img h4{
    color: rgb(255, 255, 255);
    padding: 30px;
    font-family: inter;
}
.third_img{
    width: 388px;
    height: 256px;
    background: linear-gradient(180180.00deg, rgb(0,0,0,0.5), rgba(0,0,0,0.5)100%),
    url("../images/exercise3.png");
    background-size: cover;
    background-position: center;
}
.third_img h4{
    margin-top: 190px;
    padding: 30px;
    color: rgb(255, 255, 255);
    font-family: inter;
}

.forth_img{
    width: 350px;
    height: 250px;
    background: linear-gradient(180.00deg, rgb(0, 0, 0, 0.5),
    rgba(0,0,0,0.5)100%),url("../images/exercise4.png");
    background-size: cover;
    background-position: center;
}
.forth_img h4{
    margin-left: 230px;
    padding: 30px;
    color: rgb(255, 255, 255);
    font-family: inter;
}
.fifth_img{
    width: 408px;
    height: 250px;
    background: linear-gradient(180.00deg, rgb(66,255,0,0.3), rgba(66,255,0,0.3)100%), url("../images/exercise5.jpg");
    background-size: cover;
    background-position: center;
}
.fifth_img h4{
    margin-top: 190px;
    padding: 30px;
    color: rgb(255, 255, 255);
    font-family: inter;
}
.sixth_img{
    width: 376px;
    height: 250px;
    background: linear-gradient(180.00deg, rgb(0,71,255,0.3), rgba(0,71,255,0.3)100%), url("../images/exercise6.jpg");
    background-size: cover;
    background-position: center;
}
.sixth_img h4{
    margin-top: 190px;
    padding: 30px;
    color: rgb(255, 255, 255);
    font-family: inter;
}

/* bmi_calculator design */


.bmi_calculator{
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 375px;
}
.bmi_calculator h1{
    color: rgb(255,255,255);
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 15px;
}
.bmi_calculator p{
    color: rgb(255,255,255,0.5);
    font-size: 14px;
    font-weight: 400;
}
table{
    border-collapse: collapse;
}
th{
    border: 1px solid rgba(255,255,255,0.1);
    padding: 5px 10px;
    text-align: center;
    color: rgb(255,255,255);
    font-size: 16px;
    font-weight: 500;
}
tbody td{
    border: 1px solid rgba(255,255,255,0.1);
    padding: 5px 10px;
    text-align: center;
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    font-weight: 400;
}
.bmi_main{
    background: rgb(34,34,34);
    width: 100%;
    height: 100%;
}
.bmi_calculator_chart{
    display: flex;
    gap: 500px;
    max-width: 1200px;
    margin: 0 auto;
}
.bmi_chart h1{
    color: rgb(255,255,255);
    font-size: 28px;
    font-weight: 900;
}
.bmi_calculate h1{
    color: rgb(255,255,255);
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 15px;
}
.bmi_calculate p{
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    font-weight: 400;
}
.first_two_input, input[type="text"]{
    color: white;
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
    width: 100%;
    height: 28px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
}
.second_two_input,input[type="number"]{
    display: flex;
    gap: 5px;
    width: 100%;
    height: 28px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
}
.second_two_input,select{
    display: flex;
    width: 100%;
    gap: 5px;
    height: 32px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
}
/* Meet Our Team style start */
.meet_out_team_container{
    max-width: 1100px;
    margin: 0 auto;
}
.meet_out_team h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.meet_out_team p{
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin-top: -20px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.meet_our_team_photos{
    background-color: rgba(255,255,255, 0.1);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.meet_our_team_photos img{
    width: 325px;
    height: 282px;
    margin: 10px 10px;
    border-radius: 15px;
    align-self: stretch;
    background-color: rgba(0,0,0,0.2);
}
.meet_our_team_first_three{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.meet_our_team_second_three{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 0 20px 0;
}
.meet_first{
    background: url("../images/trainer1.png");
    width: 326.67px;
    height: 272px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.meet_our_team_photos h4{
    color: rgb(255, 255, 255);
    margin-bottom: -14px;
    margin-top: 190px;
    margin-left: -155px;
}
.meet_first p{
    color: rgba(255, 255, 255, 0.5);
    margin-left: -187px;
}
.meet_second{
    background: url("../images/trainer2.png");
    width: 326.67px;
    height: 272px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.meet_second p{
    color: rgba(255, 255, 255, 0.5);
    margin-left: -203px;
}
.meet_third{
    background: url("../images/trainer3.png");
    width: 326.67px;
    height: 272px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.meet_third p{
    color: rgba(255, 255, 255, 0.5);
    margin-left: -218px;
}
.meet_forth{
    background: url("../images/trainer4.png");
    width: 326.67px;
    height: 272px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.meet_forth p{
    color: rgba(255, 255, 255, 0.5);
    margin-left: -210px;
}
.meet_fifth{
    background: url("../images/trainer5.png");
    width: 326.67px;
    height: 272px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.meet_fifth p{
    color: rgba(255, 255, 255, 0.5);
    margin-left: -189px;
}
.meet_sixth{
    background: url("../images/trainer6.png");
    width: 326.67px;
    height: 272px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.meet_sixth p{
    color: rgba(255, 255, 255, 0.5);
    margin-left: -203px;
}
/* Meet Our Team style end */

/* Footer Style start */

.foot_container{
    background-color: rgba(255, 255, 255, 0.1);
}
.footer{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 50px;
}
.footer_text h1{
    color: rgb(230,83,60);
    font-size: 70px;
    font-weight: 800;
    justify-content: flex-start;
    
}
.footer_text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: -20px;
    line-height: 25px;
}
.footer h2{
    color: rgb(255, 255, 255);
}
li{
   list-style-type: none;
   line-height: 30px;
   color: rgba(255, 255, 255, 0.5);
   margin-left: -35px;
}
/* Footer style end */
.all_right_reserved{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
hr{
    max-width: 1200px;
}
.items_icon{
    display: none;
}

/* Responsive for Mobile */






@media screen and (max-width: 576px) {
    .nav_items{
        display: none;
    }
    .items_icon{
        max-width: 506px;
        background-color: white;
        height: 20px;
        display: inline;
        margin-top: 60px;
        margin-right: 20px;
    }
    .nav_title{
        color: rgb(230,83,60);
        font-size: 2rem;
        font-weight: 800;
        margin-left: 20px;
    }
/* Banner section responsive */
.banner_section{
    display: grid;
}
.banner_sec_img{
    background: linear-gradient(180.00deg, 
    rgb(17,17,17), 
    rgba(119,119,119,0) 100%);
}
.banner_img{
    position: relative;
    margin-top: -405px;
}
.banner_section_main{
    max-width: 576px;
    margin: 0 auto;
}
.banner_title h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 60px;
    margin-left: 20px;
}
.banner_title p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    font-weight: 400;
    margin-left: 20px;
}
.btn_primary{
    color: white;
    background-color: rgb(230,83,68);
    border: none;
    border-radius: 42px;
    padding: 8px 20px 8px 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 20px;
}
.btn_secondary{
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 42px;
    padding: 8px 20px 8px 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 20px;
}
.ball{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: -35px;
    margin-right: 13px;
}
.video_tutorial{
    display: flex;
    color: white;
    height: 90px;
    width: 100px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48,48,48,0.54);
    padding-left: 50px;
    margin-top: 370px;
    z-index: 1;
    position: relative;
    margin-left: 20px;
}
.video_tutorial p{
    margin-top: -18px;
}
.workout{
    color: white;
    height: 90px;
    width: 8rem;
    padding: 0 10px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48,48,48,0.54);
    position: absolute;
    margin-top: -550px;
    margin-left: 200px;
  }
.workout h1{
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 40px;
    font-weight: 900;
}

/* change_habits_section design start */
.change_habits_section{
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.change_habit_title h1{
    color: rgb(255,255,255);
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}
.change_habit_title p{
    color: rgb(255,255,255,0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: -20px;
}
.change_habits_img img{
    border-radius: 50%;
    margin: 50px;
}
.change_habits_img{
    color: white;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 50px;
    margin-top: -30px;
}
.change_habits_img h1{
    margin-left: 8px;
    margin-top: -25px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.change_habits_img p{
    color: rgb(255,255,255,0.5);
    margin-left: 10px;
    text-align: center;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}
/* Run and Extra mile responsive design start */


.run_extra_mile_section{
    display: block;
    border-radius: 18px;
    background: rgb(34,34,34);
    height: 100%;
    width: 95%;
    max-width: 566px;
    margin-right: 50px;
    margin: 0 auto;
}
.run_extra_mile_img img{
    border-radius: 18px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 80%;
}
.run_extra_mile_title h1{
    position: relative;
    color: rgb(255,255,255);
    font-size: 3.5rem;
    font-weight: 800;
}
.run_extra_mile_title p{
    color: rgb(255,255,255,0.5);
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.button{
    width: 80%;
    font-size: 1.5rem;
    padding: 15px;
}
/* Training section responsive */

.training_and_exercise_section{
    width: 100%;
    margin: 0 auto;
}
.training_experience h1{
    color: rgb(255,255,255);
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 15px;
    width: 50%;
    margin-left: 20px;
}
.training_experience p{
    color: rgb(255,255,255, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 25px;
    width: 80%;
    margin-left: 20px;
}
.training_experience_img .first_three{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 91%;
    height: 100%;
    margin-left: 20px;
}
.training_experience_img .second_three{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 91%;
    height: 100%;
    margin-left: 20px;
}
.first_img{
    width: 100%;
    height: 256px;
    background: linear-gradient(180.00deg, rgb(6,255,210,0.5),
    rgba(6,255,210,0.5)100%),url("../images/exercise1.jpg");;
    background-size: cover;
    background-position: center;
}
.first_img h4{
    margin-top: 190px;
    padding: 30px;
    font-family: inter;
}
.training_experience_img{
    font-family: inter;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}
.second_img{
    width: 100%;
    height: 256px;
    background: linear-gradient(180.00deg, rgb(255,0,0,0.3),rgba(255,0,0,0.3)100%),url("../images/exercise2.png");
    background-size: cover;
    background-position: center;
}
.second_img h4{
    color: rgb(255, 255, 255);
    padding: 30px;
    font-family: inter;
}
.third_img{
    width: 100%;
    height: 256px;
    background: linear-gradient(180180.00deg, rgb(0,0,0,0.5), rgba(0,0,0,0.5)100%), url("../images/exercise3.png");
    background-size: cover;
    background-position: center;
}
.third_img h4{
    margin-top: 190px;
    padding: 30px;
    color: rgb(255, 255, 255);
    font-family: inter;
}

.forth_img{
    width: 100%;
    height: 250px;
    background: linear-gradient(180.00deg, rgb(0, 0, 0, 0.5),
    rgba(0,0,0,0.5)100%),url("../images/exercise4.png");
    background-size: cover;
    background-position: center;
    display: none;
}
.forth_img_copy{
    width: 100%;
    height: 256px;
    background: linear-gradient(180.00deg, rgb(0, 0, 0, 0.5),
    rgba(0,0,0,0.5)100%),url("../images/exercise4.png");
    background-size: cover;
    background-position: center;
}
.copy_img h4{
    margin-left: 30px;
    margin-top: 220px;
}
.fifth_img{
    width: 100%;
    height: 250px;
    background: linear-gradient(180.00deg, rgb(66,255,0,0.3), rgba(66,255,0,0.3)100%), url("../images/exercise5.jpg");
    background-size: cover;
    background-position: center;
}
.fifth_img h4{
    margin-top: 190px;
    padding: 30px;
    color: rgb(255, 255, 255);
    font-family: inter;
}
.sixth_img{
    width: 100%;
    height: 250px;
    background: linear-gradient(180.00deg, rgb(0,71,255,0.3), rgba(0,71,255,0.3)100%), url("../images/exercise6.jpg");
    background-size: cover;
    background-position: center;
}
.sixth_img h4{
    margin-top: 190px;
    padding: 30px;
    color: rgb(255, 255, 255);
    font-family: inter;
}

/* Bmi calculator responsive */

.bmi_calculator{
    margin: 0 auto;
    margin-left: 20px;
}
.bmi_calculator h1{
    color: rgb(255,255,255);
    font-size: 3.3rem;
    font-weight: 900;
    margin-bottom: 15px;
}
.bmi_calculator p{
    color: rgb(255,255,255,0.5);
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 5px;
}
table{
    border-collapse: collapse;
    margin-left: 30px;
    width: 410px;
    height: 216px;
}
th{
    border: 1px solid rgba(255,255,255,0.1);
    padding: 5px 10px;
    text-align: center;
    color: rgb(255,255,255);
    font-size: 16px;
    font-weight: 500;
}
tbody td{
    border: 1px solid rgba(255,255,255,0.1);
    padding: 5px 10px;
    text-align: center;
    color: rgba(255,255,255,0.5);
    font-size: 20px;
    font-weight: 400;
}
.bmi_main{
    background: rgb(34,34,34);
    width: 99%;
    height: 100%;
    align-items: center;
}
.bmi_calculator_chart{
    display: grid;
    grid-area: none;
}
.bmi_chart h1{
    color: rgb(255,255,255);
    font-size: 1.8rem;
    font-weight: 900;
    margin-left: 30px;
}
.bmi_calculate{
    margin-top: -480px;
}
.bmi_calculate h1{
    color: rgb(255,255,255);
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 15px;
    margin-left: 30px;
}
.bmi_calculate p{
    color: rgba(255,255,255,0.5);
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 30px;
}
.first_two_input, input[type="text"]{
    color: white;
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
    width: 90%;
    height: 48px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    margin-left: 10px;
}
.second_two_input,input[type="number"]{
    display: flex;
    gap: 5px;
    width: 90%;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
    margin-left: 10px;
}
.second_two_input,select{
    display: flex;
    width: 90%;
    gap: 5px;
    height: 48px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    margin-left: 10px;
}
#select_factor{
    display: flex;
    width: 88%;
    gap: 5px;
    height: 48px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    margin-left: 20px;
}
.bmi_button{
    width: 48%;
    padding: 20px;
    font-size: 1.1rem;
}
/* Meet our team responsive */

.meet_out_team_container{
    max-width: 98%;
    margin: 0 auto;
}
.meet_out_team h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.meet_out_team p{
    color: rgba(255, 255, 255, 0.5);
    width: 80%;
    margin-top: -15px;
    line-height: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 60px;
}
.meet_our_team_photos{
    background-color: rgba(255,255,255, 0.1);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.meet_our_team_photos img{
    width: 325px;
    height: 282px;
    margin: 10px 10px;
    border-radius: 15px;
    align-self: stretch;
    background-color: rgba(0,0,0,0.2);
}
.meet_our_team_first_three{
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.meet_our_team_second_three{
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 0 0 20px 0;
}
.trainer{
    font-size: 1.5rem;
}

/* Footer responsive */

.foot_container{
    background-color: rgba(255, 255, 255, 0.1);
}
.footer{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    margin-left: 20px;
}
.footer_text h1{
    color: rgb(230,83,60);
    font-size: 70px;
    font-weight: 800;
    justify-content: flex-start;
    
}
.footer_text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-top: -20px;
    line-height: 25px;
}
.footer h2{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}
li{
   list-style-type: none;
   line-height: 50px;
   color: rgba(255, 255, 255, 0.5);
   margin-left: -35px;
   font-size: 2rem;
}
/* Footer style end */
.all_right_reserved{
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 20px;
}
hr{
    max-width: 500px;
}
}